GRAN,KORMIT SMP SERVER RULES 

TAGALOG VERSION
Mga kaylangan 
Minecraft 1.17.30 +
Gametag 

RULES 

• Bawal cheat at toolbox 

• Bawal trastalk at toxic 

• Bawal manira Ng Bahay 

• Bawal pumasok or kumuha Ng gamit 
-Puydi sa genarator chess 

• Bawal pvp at pumatay Ng Wala rason 

• Bawal gumawa Ng tower na block or mag replace Ng block para mangulo 

Bawal gumamit nang tnt 

Kapag di sunumunod Hindi pwd mag mine or build pati mag craft 

Mga A 
• Pwde gumawa Bahay 
• Pwde mag mine at mag craft 
• Pwde humingi Ng item 
• Pwde mag explore pero Kasama

